<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MyBlog</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <!-- <script src="main.js"></script> -->
</head>
<body>
    <h1>MyBlog</h1>
    <hr>

<% for ( var i = 0; i < posts.length; i++ ) { %>
    <div class="post">
        <h1><a href="/post/<%= (i + 1) %>"> <%= posts[i].title%></a></h1>
        <p><%= posts[i].content%></p><br>
        <!-- <p><img src="<%= posts[i].img%>" alt="img"></p> -->
    </div>
<% } %>

</body>
</html>